# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.pickle
*.db
*.sqlite3

# =========================
# PyCharm / IDE
# =========================
.idea/
*.iml
*.iws
*.ipr

# =========================
# Environment / Packages
# =========================
.env
venv/
env/
.venv/

# =========================
# Dataset files (optional)
# =========================
DataSet/*.csv
DataSet/*.xlsx

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
